p {
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color: #5863F8
}
h1 {
	font-size: 42px;
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	width: 378px;
	margin-bottom: 50px; 
}
.page {
	margin-top: 88px;
	margin-left: 139px;
}
.form {
	display: flex;
	justify-content: space-between;
}
.form-box {
	width: 1088px;
}
textarea {
	width: 720px;
	height: 288px;
	background-color: #F8F8F8;
	border-color: #E8E8E8;
}
input {
	width: 352px;
	height: 60px;
	background-color: #F8F8F8;
	border-color: #E8E8E8;
	margin-bottom: 16px;
}
::placeholder {
	color: #CECECE;
	padding-top: 20px;
	padding-left: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.btn {
	width: 352px;
	height: 60px;
	background-color: #5863F8;
	border-color: #EBEBEB;
	color: #FFFFFF;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.input {
	width: 352px;
	margin-left: 16px;
}